body {
    font-family: Calibri;
    font-size: 20px;
    align-items: center;
    display: flex;
    text-align: center;
}

h2 {
    text-align: center;
}

hr.h {
    width: 50%;
    border: 1px solid black;
}

input {
    justify-content: space-between;
}

form {
    border: solid;
    background-color: lightblue;
    text-align: center;
    margin-left: 30%;
    width: 40%;
    height: 80%;
    align-items: center;
}
#info{
    display: none;
}
hr.b{
    border: 1px solid black;
}

table {
    width: 100%;
    background-color: lightblue;
    width: 30%;
    padding-left: 15px;
  }

th{
    border-collapse: collapse;

}
td{
    text-align: center;
}

.labels {
    grid-column: 2 / 3;
}

.inputs {
    grid-column: 3 / 4;
}

.text-center {
    text-align: center;
}
.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

#deleteheader{
    color: #C2F193;

}